body {
    font-family: sans-serif;
    background-color:#6060a9;
}

#hr-line {
    display:block;
    width: 1000px;
    margin-top: 30px;
    margin-left: 250px;
    border-top: 2px solid #e8e8e8;
    position: absolute;

}

/*big search*/
.search-box {
    position: static;
    margin-top: 50px;
    margin-left: 250px;
    height: 250px;
    width: 1000px;
    background-color:#e8e8e8;
    border-radius: 6px;
    
}

.title {
    position: absolute;
    margin-top: 45px;
    margin-left: 430px;
    font-size: 30px;
    text-align: left;
    height: 30px;
    display: block;
    font-family: sans-serif;
    white-space:nowrap;
  }

.regular-paragraph {
    font-family: sans-serif;
}

.search-box form {
    position: absolute;
    margin-top: 80px;
    margin-left: 290px;
    white-space:nowrap;
}

input[type=text] {
    padding: 7px;
    margin-left: 20px;
    border: none;
    border-radius: 6px;
    white-space:nowrap;
  }


#submit {
    position: absolute;
    margin-left: 55px;
    margin-top: 20px;
    border: none;
    height: 40px;
    width:110px;
    background-color: #f8f8f8;
    border-radius: 6px;
    font-size: 15px;
}

#reset {
    position: absolute;
    margin-left: 210px;
    margin-top: 20px;
    border: none;
    height: 40px;
    width:110px;
    background-color: #f8f8f8;
    border-radius: 6px;
    font-size: 15px;
}

#font-color {
    color: red;
}

 /* tab */
.tabs {
    margin-top: 60px;
    margin-left: 250px;
    width: 1000px;
    overflow: hidden;
    background-color: #f1f1f1;
  }

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  

.tabs button:hover {
    background-color: #cccccc;
}


.tabs button.active {
    background-color: #cccccc;
}


.tabcontent {
    display: none;  
}

#outlookTable {
    display: block
}

  /* table */
table {
      table-layout: fixed;
      text-align: left;
      margin-top: 40px;
      margin-left: 250px;
      width: 1000px;
      overflow: hidden;
      border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dbd6d6;
    border-collapse: collapse;
  }

table tr td:nth-child(1) {
    width: 350px;
    font-weight: bold;
    background-color: #e8e6e6;
}

table tr td:nth-child(2) {
    width: 650px;
    background-color: #fbfbfb;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

table tr td:nth-child(2) img {
    padding-left: 5px;
    width: 15px;
    height: 15px;
    background-color: #fbfbfb;
}
/*high chart*/
#chart-graph {
    width: 1000px;
    height: 400px;
    margin-top: 40px;
    margin-left: 250px;
}

/* error */
#error {
    margin-left: 470px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
}


/* news section */
#news {
    margin-top: 40px;
}

.news-section {
    background-color: #f1f1f1;
    height: 120px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 6px;
}

.news-pic {
    float: left
}

.news-pic img {
    display:in-block;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    object-fit: cover;
}

.news-text {
    margin-left: 130px;
    font-family: sans-serif;
    line-height: normal;
}

#news-content {
    padding-top:10px;
}
