<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Stock Trader</p>
    <form action="#" method="post">
        <p>Stock:</p>
        <p><input type="text" name="nm" placeholder="enter a stock"></p>
        <p><input type="submit", value="submit"></p>
    </form>

<!-- company outlook -->
    <p>outlook</p>
    <ul>
        {% for key, value in outlook.items() %}
            <li>Key: {{ key }} Value: {{ value }}</li>
        {% endfor %}
    </ul>
<!-- stock summary -->
    <p>summary</p>
    <ul>
        {% for key, value in summary.items() %}
            <li>Key: {{ key }} Value: {{ value }}</li>
        {% endfor %}
    </ul>

</body>

</html>