<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hello World</p>
    <form action="#" method="post">
        <p>Stock:</p>
        <p><input type="text" name="nm"></p>
        <p><input type="submit" , value="submit"> </p>
        <div class="input">
            <input id="symbol" type="text" class="form-control" placeholder="Enter Stock ETF or Mutual Fund Symbol">
            <div class="input-button">
                <button class="btn" type="button" onclick="site.SubmitForm();">Search</button>
            </div>
        </div>
    </form>
</body>

</html>